
.Graph {
    padding: 20px 0px 20px 0px;

    p {
        text-align: center;
    }

    .tryMessage {
        text-align: center;
    }

    .controls {
        max-width: 100%;
        padding: 0px 50px 0px 25px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .buttonSpacer {
            width: 20px;
        }
    }

    .graphDisplay {
        max-width: calc(100vw - 75px);
        margin: 20px 50px 20px 25px;
    }

    // all graphs should be wrapped in a div with class graphHolder
    .graphHolder {
        display: flex;
        justify-content: center;
        max-width: 100%;
        max-height: 60vh;
    }
}