
.Graph {
    padding: 20px 0px 20px 0px;

    .tryMessage {
        text-align: center;
    }

    .controls {
        max-width: 100%;
        padding: 0px 50px 0px 25px;
        display: flex;
        flex-wrap: wrap;

        .buttonSpacer {
            width: 20px;
        }
    }

    .graphDisplay {
        max-width: calc(100vw - 75px);
        margin: 20px 50px 20px 25px;
    }
}