
.SiteHeader {
    background-color: var(--dark-background);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    .logoHolder {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        overflow: hidden;
        &:hover {
            cursor: pointer;
        }
        
        .logoImage {
            height: 100px;
            pointer-events: none;
        }
    }

    .actions {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}