
.SiteHeader {
    background-color: var(--dark-background);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    z-index: 1;

    .logoHolder {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        overflow: hidden;
        &:hover {
            cursor: pointer;
        }
        
        .logoImage {
            height: 100px;
            pointer-events: none;
        }
    }

    .actions {
        width: 100px;
        display: flex;
        align-items: center;
        text-wrap: wrap;
    }

    .actions > * {
        font-weight: 400;
        padding: 10px 5px 10px 5px;
        border-radius: 5%;

        &:hover {
            cursor: pointer;
            background-color: white;
            color: black;
        }
    }

}

@media only screen and (max-width: 600px) {

    .SiteHeader {

        justify-content: center;

        .logoHolder {
            display: none;
        }
    
        .actions {
            display: none;
        }
    }
  }