
.SiteHeader {
    background-color: seashell;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logoHolder {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        overflow: hidden;

        
        .logoImage {
            height: 100px;
        }
    }

    .actions {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}